/build/
/.vscode/
F-FADE/__pycache__/
F-FADE/.gitXX/
MIDAS/.gitXX/
F-FADE/.git/
MIDAS/.git/

F-FADE/result/
F-FADE/result2/
F-FADE/result3/
F-FADE/result4/
F-FADE/data/*.txt

MIDAS/data/
MIDAS/build/
MIDAS/temp/*.txt
